@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Outfit;
}

h3 {
  color: #1f314f;
  text-align: center;
}

p {
  color: #7d889e;
  text-align: center;
}

.qr {
  width: 320px;
  height: 465px;
  padding: 16px;
  background-color: white;
  border-radius: 20px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}
